@CHARSET "ISO-8859-1";

/* rgb(61, 157, 179)*/


body
{
	font-family: "roboto";	
	background-image: url('../images/mainBG.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

input[type="button"], input[type="submit"], button
{
	-webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
	cursor: pointer;
	border: 0px solid white;
	border-radius: 5px;
	background-color: rgb(222,39,40);
	color: white;
	border: 1px solid rgb(222,39,40);
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover
{
	background-color: white;
	color: rgb(222,39,40);
	border-radius: 5px;
}
.errorData
{
	text-align: center;
}
.goBack
{
	font-size: 20px;
	border: 0px solid black;
	cursor: pointer;
	background-color: white;
	color: rgb(86,164,246);
	margin: 0 auto;
	display: block;
	border-radius: 3px;
	padding: 4px;
}

#createFileOuterDiv, #oldFiles
{
	display: none;
}
#loadCreateFile, #editOldFiles
{
	width: 300px;
	font-size: 36px;
	padding-left: 36px;
	font-family: inherit;
	margin-bottom: 50px;
}
#loadCreateFile
{
	background-image: url('../images/create.png');
	background-size: 44px 44px;
	background-repeat:no-repeat;
	background-position: left center;
}
#editOldFiles
{
	display: inline-block;
	padding-left: 0px;
	float: right;
	background-image: url('../images/edit.png');
	background-attachment: none;
	background-size: 44px 44px;
	background-repeat:no-repeat;
	background-position: left center;
}
#form
{
	margin: 0 auto;
	padding: 25px;
	background-color: rgba(247,247,247,0.5);
	width: 800px;
	border: 1px solid gray;
	box-shadow: 20px 20px 50px black;
}
.file_extension
{
	padding: 10px;
}
#create_file
{
	text-align: center;
	font-size: 32px;
	font-weight: 900;
	font-family: inherit;
	margin-bottom: 60px;
	border: 0px solid white;
}
#file,#mail_mod,#add_new,select,option
{
	border: 0px solid white;
	width: 500px;
	padding: 10px;
	font-size: 24px;
	display: block;
	margin: 0 auto;

}
#add_new
{
	width: 300px;
	margin-top: 40px;
}
#file
{
}
#bottom
{
	background-color: black;
	color: white;
	height: 50px;
}
#oldFiles
{
}
a
{
	text-decoration: none;
  	color: black;
  	font-size: 20px;
  	display:block;
  	margin-bottom: 15px;
}
.listOfFiles, #create_file
{
	margin-bottom:20px;
	font-family: inherit;
	font-size: 24px;
	font-weight: 400;
	display: block;
	background-color: black;
	padding: 10px;
	color: white;
	text-align: center;
}
.fileName
{
	width:100%;
	font-size:16px;
}
.noticeForOldData
{
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
}
.divForBlueColor
{
	width: inherit;
	background-color: #397DC4;
}
.noticeText
{
	font-size: 20px;
	padding: 50px;
	width: 1366px;
	margin: 200px auto 0px auto;
	color: white;
}
