body
{
	background: url('../images/mainBG.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "roboto";
}

input[type="button"], input[type="submit"], button
{
	-webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
	cursor: pointer;
	border: 0px solid white;
	border-radius: 5px;
	background-color: rgb(222,39,40);
	color: white;
	border: 1px solid rgb(222,39,40);
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
}
input[type="button"]:hover, input[type="submit"]:hover, button:hover
{
	background-color: white;
	color: rgb(222,39,40);
	border-radius: 5px;
}
.main
{
	width: 400px;
	margin: 100px auto 0px auto;
	background-color: rgba(255,255,255,0.4);
	padding: 10px 25px;
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	border: 1px solid rgba(60,60,60,0.2);
}

.loginText
{
	font-family: inherit;
	text-align: center;
	margin-top: 50px;
	font-size: 40px;
	font-weight: 900;
}

hr
{
	display: block;
	margin-bottom: 50px;
}
.label, .inputs, #gmail
{
	font-family: inherit;
	display: block;
	margin-bottom: 10px;
}
.label,.keepMeLoggedIn
{
	font-family: inherit;
	font-weight: 600;

}
.inputs, #gmail
{
	background-color: rgba(255,255,255,0.5);
	border: 0px solid white;
	font-size: 20px;
	padding:10px 0px 10px 50px;
	vertical-align: middle;
	width: 350px;
	background-size: 24px 18px;
	background-position: center left;
	font-family: inherit;
	background-repeat: no-repeat;
	background-origin: padding-box;
}
.username
{
	background-image: url("../images/username.png");
}
.password, .confPassword
{
	background-image: url("../images/password.png");
}
.email
{
	background-image: url("../images/email.png");	
}
.login, .signup
{
	float: right;
	font-size: 24px;
	
	background-color: rgb(86,164,246);
	border: 3px solid white;
	padding: 5px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
	cursor: pointer;
	font-family: inherit;
}
.goBack
{
	font-size: 20px;
	border: 0px solid black;
	cursor: pointer;
	background-color: white;
	color: rgb(86,164,246);
	margin: 0 auto;
	display: block;
	border-radius: 3px;
	padding: 4px;
}
.join
{
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
}
.toggleText
{
	color: white;
	font-family: inherit;
	font-weight: 500;
}
.toggle
{
	color: rgb(86,164,246);
	background-color: white;
	font-weight:600;
	border: 0px solid white;
	position: relative;
	left: 200px;
	padding: 3px;
	font-size: 12px;
	cursor: pointer;
	border-radius: 5px;
}
.mainSignup
{
	display: none;
}

.noticeForOldData
{
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.8);
}
.divForBlueColor
{
	width: inherit;
	background-color: rgba(86,164,246,0.4);
}
.noticeText
{
	font-size: 20px;
	padding: 50px;
	width: 1366px;
	margin: 200px auto 0px auto;
	color: white;
}
.noticeSpan
{
	text-align: center;
}

.errorData
{
	text-align: center;
}
#forgotPassword, #backToLogin,#backToLoginPage, #sendCode, #changePass
{
	display: inline-block;
	font-family: inherit;
	font-weight: 400;
	font-size: 20px;
	margin-top: 15px;
}
#confirm
{
	display: block;
	text-align: center;
}
.forgotPasswordDiv
{
	display: none;
}
#backToLogin, #backToLoginPage
{
	float: right;
}
.forgotPasswordTwo
{
	display: none;
}

